/*This is the styling for the coding tabs.*/

.CodeTabs{
	overflow: hidden;
	border: 5px solid #ccc;
	border-bottom: none;
}

#DefaultLanguage{
	display: block;
}

.CodeTabs button{
	background-color: #203B43;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 30px;
	transition: 0.5s;
	color: white
}

.CodeTabs button:hover{
	background-color: #0D77C2;
}

.CodeTabs button.active{
	background-color: #0C9AFE;
}

.ContentOfTheTab{
	display: none;
	padding: 14px 30px;
	border: 5px solid #ccc;
	border-top: none;
	color: white;
    animation: fadeEffect 1s;
}

#Java p, #C\+\+ p, #Python p{
    font-size: 25px;
}

/*When the */
@keyframes fadeEffect{
	from{opacity: 0}
	to{opacity: 1}
}